<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand <%= activePage == 'home' ? 'active' : '' %>" href="/">
            <img src="/bot.png" alt="" width="48" height="50" class="d-inline-block align-text-top mb-1">
            <!-- UniBot -->
          </a>
          <h6 class="mr-auto mb-0 text-secondary">
            Unibot Admin Panel
          </h6>
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
            <!-- <ul class="navbar-nav"> -->
              <!-- <li class="nav-item">
                <a class="nav-link <%= activePage == 'department' ? 'active' : '' %>" aria-current="page" href="/department">Department</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= activePage == 'updates' ? 'active' : '' %>" href="/updates">News Updates</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= activePage == 'students' ? 'active' : '' %>" href="/students">Students</a>
              </li> -->

              <!--  -->
              <!--  -->
              
                <!-- <a class="nav-item nav-link <%= activePage == 'department' ? 'active' : '' %>" aria-current="page" href="/department">Department</a> -->
              
              
                <!-- <a class="nav-item nav-link <%= activePage == 'updates' ? 'active' : '' %>" href="/updates">News Updates</a> -->
              
              
                <!-- <a class="nav-item nav-link <%= activePage == 'students' ? 'active' : '' %>" href="/students">Students</a> -->
              
              <!--  -->
              <!--  -->
              <!-- <li class="nav-item">
                <a class="nav-link <%= activePage == 'updates' ? 'active' : '' %>" href="/updates">News Updates</a>
              </li> -->
            <!-- </ul> -->
          <!-- </div> -->
        </div>
      </nav>
  </div>
  <div class="mb-4">
    <ul class="nav nav-tabs nav-justified">
      <!-- <li class="nav-item">
        <a class="nav-link <%= activePage == 'home' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link <%= activePage == 'department' ? 'active' : '' %>" href="/department">Department</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= activePage == 'students' ? 'active' : '' %>" href="/students">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= activePage == 'updates' ? 'active' : '' %>" href="/updates">Updates</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
  </div>